fastapi==0.83.0
localStoragePy==0.2.3
pydantic==1.9.2
python-multipart==0.0.5
uvicorn==0.16.0
starlette==0.19.1
git+https://github.com/ega3001/DTKLP-wrapper.git
git+https://github.com/ega3001/ParsePy.git
git+https://github.com/ega3001/RWLockPy.git